.label-primary {
    background-color: #337ab7;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.status-Accepted {
    background-color: #26C6DA;
}

.status-Delivered {
    background-color: #8BC34A;
}

.status-Cancelled {
    background-color: #DB4437;
}