<md-content class="content-page">
    <div style="background-image: linear-gradient(to left, #ff0844 0%, #ffb199 100%);">
        <div layout="row" layout-align="center center">
            <ks-swiper-container initial-slide="1" speed="2000" loop="true" show-nav-buttons="false" slides-per-view="1" space-between="5" pagination-clickable="true" autoplay="3000" pagination-is-active="true">
                <ks-swiper-slide class="swiper-slide" ng-repeat="s in [1,2,3,4,5,6,7]">
                    <img ng-src="assets/images/offers/{{s}}.jpg" width="100%">
                </ks-swiper-slide>
            </ks-swiper-container>
        </div>
        <div layout="row" class="swiperVertical">
            <!--<div layout="row" layout-align="center center">
                    <div flex="30"><img ng-src="assets/images/offers/special_offers.png"></div>
                    <div class="marquee">
                        <p ng-repeat="todo in vm.todos1" ng-if="todo.selected"><a href="https://yourshopmanager.com/">{{::todo.description}}</a></p>
                    </div>
                </div>-->
            <div>
                <img ng-src="assets/images/offers/special_offers.png">
            </div>
            <div class="marquee">
                <p ng-repeat="todo in vm.todos1" ng-if="todo.selected"><a href="https://yourshopmanager.com/">{{::todo.description}}</a></p>
            </div>
        </div>
    </div>
    <md-list>
        <md-subheader> Deals of the Day </md-subheader>
        <div>
            <div class="products products--grid">
                <div ng-repeat="product in ::vm.products">
                    <div class="product__wrapper">
                        <div class="plp-product">
                            <div style="outline:none; border: 0" ng-click="vm.openImage(product, $event)">
                                <div ng-if="product.disc" class="plp-product__sale-badge"></div>
                                <div ng-if="product.disc" class="plp-product__offer">
                                    {{::product.disc}}% Off

                                </div>
                                <div class="plp-product__img"><img class="img animated fadeIn" ng-src="{{::product.image}}">
                                </div>
                                <div class="plp-product__name">
                                    <div class="LinesEllipsis LinesEllipsis--clamped plp-product__name--box">
                                        {{::product.name}}
                                        <wbr>
                                    </div>
                                </div>
                            </div>
                            <div class="plp-product__quantity"><span>{{::product.unit}}</span>
                            </div>
                            <div class="plp-product__prices">
                                <div class="plp-product__prices--container">
                                    <div ng-if="product.disc" class="plp-product__prices--old display--inline-block">
                                        ₹ {{::product.mrp}}

                                    </div>
                                    <div class="plp-product__prices--new display--inline-block">
                                        ₹ {{::product.price}}

                                    </div>
                                </div>
                            </div>
                            <div class="plp-product__addition-to-cart">
                                <div class="addition-to-cart">
                                    <button ng-cloak ng-hide="vm.checkCart(product.product_id)" class="addition-to-cart__dec display--inline-block" ng-click="vm.addToCart(product, -1)"></button>
                                    <button ng-cloak ng-show="vm.checkCart(product.product_id)" class="addition-to-cart__add-btn display--inline-block" ng-click="vm.addToCart(product, 1)">Add To Cart</button>
                                    <button ng-cloak ng-hide="vm.checkCart(product.product_id)" class="addition-to-cart__quantity display--inline-block ">{{ vm.getQuantity(product.product_id)}}</button>
                                    <button ng-cloak ng-hide="vm.checkCart(product.product_id)" class="addition-to-cart__inc display--inline-block add" ng-click="vm.addToCart(product, 1)"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="products-bottom products-bottom--small "></div>
        </div>
    </md-list>
</md-content>